.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.tableWrapper {
  margin-top: 16px;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  border: 1px solid var(--border-default);
}

.cell {
  min-width: 60px;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--border-default);
}

.inputCell {
  padding: 4px;
}

.input {
  width: 100%;
  min-width: 40px;
}
