.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  margin-bottom: 24px;
}

.inputWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
}

.beforeText {
  font-weight: 500;
}

.input {
  min-width: 120px;
}
