/* stylelint-disable declaration-no-important */
.voiceMessage {
  position: relative;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  min-width: 80px;

  &.error {
    opacity: 0.5;
  }

  &.standalone {
    width: 202px;
    height: to-rem(40px);
  }
}

.hidden {
  visibility: hidden;
}

.skeletonRow {
  position: absolute;
  inset: 0;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.playButtonSkeleton {
  flex-shrink: 0;
  width: to-rem(40px);
  height: to-rem(40px);
  background-color: var(--bg-surface) !important;
  border-radius: 50%;
}

.waveformFullSkeleton {
  flex-shrink: 0;
  width: 150px;
  height: 24px;
  background-color: var(--bg-surface) !important;
}

.waveformContainer {
  display: flex;
  flex: 1;
  gap: var(--space-8);
  align-items: center;
  overflow: hidden;
}

.waveform {
  display: flex;
  flex: 1;
  gap: 2px;
  align-items: center;
  width: 150px;
  height: 24px;
}

.duration {
  @include label-regular;

  display: flex;
  justify-content: flex-end;
  min-width: 40px;
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.errorText {
  font-size: 0.8125rem;
}

.playButton {
  width: to-rem(40px);
  height: to-rem(40px);
  padding-inline: 0;

  &:hover {
    background-color: var(--bg-surface);
  }
}
