.heartContainer {
  position: relative;
  width: to-rem(32px);
  height: to-rem(32px);

  svg {
    width: 100%;
    height: 100%;
  }
}

.heartCount {
  position: absolute;
  top: to-rem(4px);
  color: var(--text-on-brand);
  user-select: none;

  @include body-medium-regular;
  @include center-self-horizontally;
}
